<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Tech Cell PDV TESTE"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">

        <activity
            android:name="com.techcell.caixadaloja.TechCellHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.techcell.caixadaloja.MainActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.GestaoActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.ProdutosActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.EstoqueActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.PdvActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.ConfiguracoesFiscaisActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.ClientesActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.HistoricoVendasActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.ComprovanteVendaActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.PreparacaoFiscalActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.FinanceiroActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="com.techcell.caixadaloja.ComprovanteDespesaActivity" android:exported="false" android:screenOrientation="portrait" />\n        <activity android:name="com.techcell.caixadaloja.FornecedoresActivity" android:exported="false" android:screenOrientation="portrait" />
    </application>
</manifest>
